{% extends 'base.html' %}

{% block content %}

<div class="jumbotron bg-cover" style="background-image: url('static/images/home_page_bg.jpg');">
    <div class="container about-jmb">
        <h4>This is an opportunity to say special thanks to:</h4><br>
        <ul>
            <li><h6><em>Flask</em> -- for building the website</h6></li><br>
            <li><h6><em>Pandas</em> -- for managing data</h6></li><br>
            <li><h6><em>BeautifulSoup</em> -- for scraping</h6></li><br>
            <li><h6><em>sqlite3</em> -- for interacting with database</h6></li><br>
            <li><h6><em>aiohttp</em> -- for multi-threading</h6></li><br>
            <li><h6><em>Bokeh</em> -- for displaying a graph</h6></li><br>
            <li><h6><em>Folium</em> -- for displaying a map</h6></li><br>
            <li><h6><em>yfinance</em> -- for getting stocks information</h6></li><br>
            <li><h6><em>Bootstrap</em> -- for designing the website</h6></li><br>
        </ul>
    </div>
</div>
{% endblock %}