<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Flask App</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Tom's Investments Helper</h1>
        <strong><nav>
            <ul class="menu">
                <li><a href="https://github.com/TomSamsonoff/Toms-Investments" target="_blank">Code</a></li>
                <li><a href="{{ url_for('real_estate') }}">Real Estate</a></li>
                <li><a href="{{ url_for('stocks_graph') }}">Stocks</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>