{% extends 'base.html' %}

{% block content %}

<div class="home">
    <h2>Welcome to Tom's Investments Helper!</h2>
    <h4>A website for all your investments research needs.</h4>
    <h4>But first of all... special thanks to:</h4>
    <ul>
        <li><em>BeautifulSoup</em> -- for scraping</li><br>
        <li><em>Pandas</em> -- for managing data</li><br>
        <li><em>sqlite3</em> -- for interacting with database</li><br>
        <li><em>aiohttp</em> -- for multi-threading</li><br>
        <li><em>Bokeh</em> -- for displaying a graph</li><br>
        <li><em>Folium</em> -- for displaying a map</li><br>
        <li><em>yfinance</em> -- for getting stocks information</li><br>
        <li><em>Flask</em> -- for building the website</li><br>
    </ul>
</div>
{% endblock %}