{% extends 'base.html' %}

{% block prev %}
<div class="jumbotron home-jmb" style="background-image: url('static/images/re_bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form method="post">
                    <div class="form-group text-center">
                        <h4 class="pb-2"><strong>Choose a state:</strong></h4>
                        <select class="form-control form-control-lg" id="state" name="state" required>
                            <option hidden disabled selected value> -- select state -- </option>
                            {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary mt-3">Find Top Properties</button>
                    </div>
                </form>
                {{btn|safe}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{{table|safe}}
{{webmap|safe}}
<br><br>

{% endblock %}