{% extends 'base.html' %}

{% block prev %}
<div class="jumbotron bg-cover" style="background-image: url('static/images/stocks_bg.jpg');">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form method="post">
                    <div class="form-group text-center">
                        <h4 class="pb-2"><strong>Choose a stock:</strong></h4>
                        <select class="form-control form-control-lg" id="stock" name="stock" required>
                            <option hidden disabled selected value> -- select stock -- </option>
                            {% for stock in stocks %}
                                <option value="{{ stock }}">{{ stock }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input type="range" class="col-8" id="days" name="days" min="7" max="90" value="30" oninput="days_output.value = days.value" required>
                        <br>
                        <a><strong>Time frame (days): <output name="x" id="days_output" for="days">30</output></strong></a>
                        <br><br>
                        <button type="submit" class="btn btn-primary"> Find Stock Chart </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="output">
    {{chart_html|safe}}
    {{explanation|safe}}

</div>
<br><br>

{% endblock %}

